*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family:Sans-serif;
    height: 5000px;
}
a{
    text-decoration: none;
}
/*Header*/
a.nav-link.fw-bold.text-dark {
    margin-right: 32px;
}
a.nav-link.dropdown-toggle.fw-bold.text-dark {
    margin-right: 32px;
}

a.contactez-nous.text-decoration-none.text-dark.fw-bold {
    padding: 22px 30px 22px 30px;
}


a.contactez-nous.text-decoration-none.text-dark.fw-bold:hover {
    background-color: purple;
    transition: .2s;
}

img.fra {
    width: 23px;
}

.images .img-box {
    background-image: url(../imgs/1679930273757.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 700px;
}

.images .img-box:before{
    content: '';
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.images .img-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    
}
.images .img-btn{
    margin-top: 60px;
    padding: 10px 30px 10px 30px;
    background-color: purple;
    border: none;
    color: white;
}
.section .title {
    text-align: center;
}
.section .title span{
    color: purple;
}
.section .title h1{
    margin-top: 50px;
    margin-bottom: 90px;
}

/*Cards*//*
.sect-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px ;
}

.card1:hover {
    background-color: #c206c2;
    padding: 50px;
}
.card2:hover{
    background-color: #c206c2;
    padding: 50px;
}
.card3:hover{
    background-color: #c206c2;
    padding: 50px;
}

.sect-card .btn{
    background-color: purple;
    border-style: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,10px);
}
.sect-card .card,.card2,.card3 {
    border-style: none;
    background: none;
}*/


/*card*/
.sect-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    
}
.sect-card h1{
    padding: 15px
}
.sect-card  a{
    text-decoration: none;
    background-color: purple;
    padding: 12px 30px 12px 30px;
    color: white;
    box-shadow: 5px 5px 5px #00000091;
}

.card-1:hover{
    background-color: #944d9e;
    padding: 20px 20px 80px 20px;
}
.card-2:hover{
    background-color: #944d9e;
    padding: 20px 20px 80px 20px;
}
.card-3:hover{
    background-color: #944d9e;
    padding: 20px 20px 80px 20px;
}

